<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="css/styles.css"/> 
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    </head>
    <body>
    <div class="wrapper">
        <div class="form-weather">
        <div class="main-content">
        <div class="main-header">{{>header}}</div> 
       
            <form class="SearchLocation"><input placeholder="location..." type = "text"/>
                <button>Search</button>
                </form>

            <article class="widget">
                

                <div class="weatherIcon">
                    <i class="IconCloudy"></i>  
                </div>
                
                <div class="container-weather">
	                <div class="sunny"></div> 
                     <div class="cloudy"></div>
                    <div class="rainy"></div>
                </div>
	


                <div class="weatherInfo">
                    <div class="temperature"><span></span></div>
                    <div class="description">    
                        <div class="weatherCondition"></div>    
                        <div class="place"></div>
                    </div>
                </div>

                <div class="date"></div>
            </article>
        </div>
        </div>
</div>



        
        <script src="js/app.js"></script> 
    </body>
</html>